TaisKohtApi/Resources/XMLFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="restaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="restaurant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="menus">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="menu">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="activefrom" type="xs:dateTime" />
                          <xs:element name="activeto" type="xs:dateTime" />
                          <xs:element name="dishes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="dish">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="title" type="xs:string" />
                                      <xs:element name="description" type="xs:string" />
                                      <xs:element name="availablefrom" type="xs:dateTime" />
                                      <xs:element name="availableto" type="xs:dateTime" />
                                      <xs:element name="servetime" type="xs:dateTime" />
                                      <xs:element name="ingredients">
                                        <xs:complexType>
                                          <xs:sequence minOccurs="0">
                                            <xs:element name="ingredient">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="name" type="xs:string" />
                                                  <xs:element name="description" type="xs:string" />
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                                                <xs:attribute name="amountunit" type="xs:string" use="required" />
                                                <xs:attribute name="amount" type="xs:string" use="required" />
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="rating">
                                        <xs:complexType>
                                          <xs:sequence minOccurs="0">
                                            <xs:element minOccurs="0" name="ratingvalue" type="xs:unsignedByte" />
                                            <xs:element name="comments">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" name="comment">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="commenttext" type="xs:string" />
                                                        <xs:element name="username" type="xs:string" />
                                                        <xs:element name="userid" type="xs:string" />
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute name="ratingvalue" type="xs:decimal" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="promotion">
                                        <xs:complexType>
                                          <xs:sequence minOccurs="0">
                                            <xs:element name="name" type="xs:string" />
                                            <xs:element name="description" type="xs:string" />
                                            <xs:element name="validto" type="xs:dateTime" />
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:int" use="required" />
                                          <xs:attribute name="type" type="xs:string" use="optional" />
                                          <xs:attribute name="classname" type="xs:string" use="optional" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="vegan" type="xs:boolean" use="optional" />
                                    <xs:attribute name="lactosefree" type="xs:boolean" use="optional" />
                                    <xs:attribute name="glutenfree" type="xs:boolean" use="optional" />
                                    <xs:attribute name="daily" type="xs:boolean" use="optional" />
                                    <xs:attribute name="kcal" type="xs:unsignedShort" use="optional" />
                                    <xs:attribute name="weightg" type="xs:decimal" use="optional" />
                                    <xs:attribute name="price" type="xs:decimal" use="optional" />
                                    <xs:attribute name="dailyprice" type="xs:decimal" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="promotion" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int" use="required" />
                        <xs:attribute name="repetitioninterval" type="xs:int" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="dishes">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="dish">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="title" type="xs:string" />
                          <xs:element name="description" type="xs:string" />
                          <xs:element name="availablefrom" type="xs:dateTime" />
                          <xs:element name="availableto" type="xs:dateTime" />
                          <xs:element name="servetime" type="xs:dateTime" />
                          <xs:element name="ingredients">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element maxOccurs="unbounded" name="ingredient">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="name" type="xs:string" />
                                      <xs:element name="description" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:int" use="required" />
                                    <xs:attribute name="amountunit" type="xs:string" use="required" />
                                    <xs:attribute name="amount" type="xs:decimal" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="rating">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="comments">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="comment">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="commenttext" type="xs:string" />
                                            <xs:element name="username" type="xs:string" />
                                            <xs:element name="userid" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ratingvalue" type="xs:decimal" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="promotion" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:int" use="required" />
                        <xs:attribute name="vegan" type="xs:boolean" use="optional" />
                        <xs:attribute name="lactosefree" type="xs:boolean" use="optional" />
                        <xs:attribute name="glutenfree" type="xs:boolean" use="optional" />
                        <xs:attribute name="daily" type="xs:boolean" use="optional" />
                        <xs:attribute name="kcal" type="xs:int" use="optional" />
                        <xs:attribute name="weightg" type="xs:decimal" use="optional" />
                        <xs:attribute name="price" type="xs:decimal" use="optional" />
                        <xs:attribute name="dailyprice" type="xs:decimal" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="addressfirstline" type="xs:string" />
                    <xs:element name="locality" type="xs:string" />
                    <xs:element name="postcode" type="xs:string" />
                    <xs:element name="region" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:int" use="required" />
                  <xs:attribute name="country" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="promotion" />
              <xs:element name="rating">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="comments">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="comment">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="commenttext" type="xs:string" />
                                <xs:element name="username" type="xs:string" />
                                <xs:element name="userid" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ratingvalue" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required" />
            <xs:attribute name="url" type="xs:string" use="required" />
            <xs:attribute name="contactnumber" type="xs:string" use="required" />
            <xs:attribute name="email" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>